@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #00171F;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    padding: 1rem;
    font-weight: 300;
    font-size: 1.2rem;
}
h1{
    letter-spacing: 0.1rem;
}
#logo{
    width: 5%;
    padding: 2em;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search{
    text-align: center;
    width: 100%;
    text-align: center;
    margin-top: 7%;
}
#l{
    border: none;
    width:50%;
    padding: 1em;
    border-radius: 50px;
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(50px);
}
.search i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin: 1em;
    color: #FF1B1C;
    font-weight: bolder;
}
input[type="text"]::placeholder{
    text-align: center;
}
.details{
    display: none;
    box-shadow: 0 0 5px 0;
    backdrop-filter: blur(50px);
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    margin-top: 2em;
}
#vid-snap{
    width: 70%;
    padding: 0.5em;
}
#bt{
    width: fit-content;
    color: aliceblue;
    padding: 0.5em;
    background-color: #FF1B1C;
    border-radius: 5px;
}
label{
    font-weight: 700;
}
#res{
    background-color: #FF1B1C;
    padding: 0.5em;
    color: aliceblue;
    border-radius: 5px;
}
.rbt{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}
.loader{
    width: 50%;
    aspect-ratio: 1;
    position: absolute;
    top: 30%;
    display: none;
    -webkit-mask: conic-gradient(from 22deg, #0003,#000);
            mask: conic-gradient(from 22deg, #0003,#000);
    animation: load 1s steps(12) infinite;
  }
  .loader,
  .loader:before,
  .loader:after{
    --_g: linear-gradient(currentColor 0 0) 50%; /* update the color here */
    background: 
      var(--_g)/34% 5%  space no-repeat,
      var(--_g)/5%  34% no-repeat space;
  }
  .loader:before,
  .loader:after{
    content: "";
    grid-area: 1/1;
    transform: rotate(30deg);
  }
  .loader:after{
    transform: rotate(60deg);
  }
  @keyframes load {
    from {transform: rotate(0turn)}
    to   {transform: rotate(1turn)}
  }
  
@media (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1{
        padding: 0;
    }
    .loader{
        position: absolute;
        top: 50%;
    }
    header{
        padding: 0;
        margin: 0;
        font-size: smaller;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    #logo{
        padding: 0;
        width: 30%;
    }
    main{
        flex-direction: column;
        width: 100%;
    }
    .search{
        width: 100%;
        margin-top: 4em;
        padding: 0;
    }
    .details{
        margin-top: 18%;
        min-width: 90%;
        padding: 0.5em;
        border-radius: 5px;
    }
    #l{
        width: 90%;
    }
    #res{
        background-color: #FF1B1C;
        color: aliceblue;
        border-radius: 5px;
    }
    option{
        color: aliceblue;
    }
    h2{
        font-size: smaller;
    }
    #vid-snap{
        width: 100%;
        padding: 0;
    }
    .details{
        justify-content: space-evenly;

    }
    .rbt{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 1em;
    }
  }