{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Youtube</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<body onload="myfun()">
    <header>
        <img id = "logo" src="{% static 'images/youtube.png' %}" alt="icon">
        <h1>Youtube Video Downloader</h1>
    </header>
    <main>
        <div class="search" id="search">
            <form method="POST" action="">
                {% csrf_token %}
                <i class="fa fa-search icon"></i>
                <input id="l" type="text" name="link" placeholder="Paste link here hit Enter " >
                <input id="bt" type="submit" name="load" hidden>
        </div>
        <div class="details" id="details">
            <h2 id="title">{{vidTitle}}</h2>
            <img id="vid-snap" src="{{vidThumbnail}}" alt="user-photo">
                <label for="res">Resolutions</label>
                <div class="rbt">
                    <select name="Resolutions" id="res">
                    {% for x in stream %}
                    <option value="{{x.itag}}">{{x.resolution}}</option>
                    {% endfor %}
                </select>
                <input id="bt" type="submit" value="Download" name="download-video">
                </div>
            </form>
        </div>
    </main>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>