{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Youtube</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <header>
        <img id = "logo" src="{% static 'images/youtube.png' %}" alt="icon">
        <h1>Youtube Video Downloader</h1>
    </header>
    <main>
        <div class="search">
            <form method="POST" action="">
                {% csrf_token %}
                <input type="text" name="link" placeholder="Paste link here" >
                <input id="bt" type="submit" value="Search" name="load">
        </div>
        {% if url %}
        <div class="details">
            <h2>{{vidTitle}}</h2>
            <img id="vid-snap" src="{{vidThumbnail}}" alt="user-photo">
            <br>
                <label for="res">Resolutions</label>
                <br>
                <select name="Resolutions" id="res">
                    {% for x in stream %}
                    <option value="{{x.itag}}">{{x.resolution}}</option>
                    {% endfor %}
                </select>
                <br>
                <input id="bt" type="submit" value="Download" name="download-video">
            </form>
        </div>
        {% endif %}
    </main>
</body>
</html>